@page
@model CIDM3312_FinalProjectBlog.Pages_Blogs.IndexModel

@{
    ViewData["Title"] = "Blog Page";
}

<h1>Blogs Page</h1>

<p>
    <a asp-page="Create">Create New </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Blogs[0].Title)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.BlogPosts) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                <!-- <a asp-page="./Edit" asp-route-id="@item.BlogId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.BlogId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.BlogId">Delete</a> -->
            </td>
        </tr>
}      <form method="post">
        <div class="form-group">
        <label class="control-label"></label>
        <select asp-items="Model.BlogsDropDown" asp-for="BlogID" class="form-control">
            <option value="">-- Select Category--</option>
        </select>

       
        </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </form>
    </tbody>
    
</table>

@if (Model.BlogPosts != null)
{
    @foreach (var blog in Model.BlogPosts)
    {
        @foreach (var post in blog.Post)
        {
           
                 <div class="container"> 
                    <div class="row"> 
                        <div class="col">
                            <form method="post">
                            <input type ="hidden" name ="PostId" value = "@post.PostId">
                       <h1>@post.heading</h1> <h4>By @post.author </h4>    <p>  <br/> @post.content</p> <br/> <input type="submit" class="btn btn-primary" value="Like" />
                            <ul>
                                <div class="col"><li>comment: @post.comment</li></div>
                                <div class="col"><li>@post.likes likes</li></div>
                            </ul>
                            </form>
                        </div> 
                    </div>
                </div> 
        }
    }

    
}

